{%- set REGIONS_COMMERCIAL = ["us-east-1", "eu-west-1"] -%}
{%- set OSS_COMMERCIAL = ["alinux", "centos7"] -%}
{%- set INSTANCES_COMMERCIAL = ["c5.xlarge"] -%}
{%- set INSTANCES_EFA = ["c5n.18xlarge", "p3dn.24xlarge", "i3en.24xlarge"] -%}
{%- set SCHEDULERS_ALL = ["slurm", "sge", "torque", "awsbatch"] -%}
{%- set SCHEDULERS_TRAD = ["slurm", "sge", "torque"] -%}
